.outubro-rosa{
    background-image: url(./images/casal-fundo-640-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: right;
    justify-self: right;
    justify-items: right;
    background-position: center;
}

main{
    display: flex;
    flex-direction: column;
    height: 98vh;
    width: 100vw;

}

h1{
    font-family: "Bebas Neue", sans-serif;
    color: aliceblue;
    text-shadow: 2px 2px black;
    align-self: center;
    color:green;
    margin-right: 20px;
}


.logo{   
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
}

.gps{
    width: 25px;
    height: 40px;
    filter: drop-shadow(1px 1px black);
    margin-right:4px;
}

.gps:active{
    scale: 1.5;
}

.fa-whatsapp-square{
    font-size: 50px;
    color: red;
}
.fa-whatsapp{
    font-size: 30px;
    color: green;
}

.button-57 {
    position: relative;
    overflow: hidden;
    border: 3px solid #18181a;
    color: #18181a;
    display: inline-block;
    line-height: 15px;
    padding: 15px 15px;
    text-decoration: none;
    cursor: pointer;
    background: red;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 50%;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.button-57 span:first-child {
    position: relative;
    transition: color 300ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 200ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    transform-origin: bottom center;
    transition: transform 300ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.links{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0px 0px 0px 540px;
    justify-content: right;
    align-items: center;
}

.links button{
    margin: 10px;
}

.whatsapp-logo{
    width: 30px;
    height: 30px;
}

.pixel-heart{
    width: 25px;
}

.cupid{
    width: 40px;
    margin-right: 10px;
    filter: drop-shadow(1px 1px 2px black);
}


.button-89 {
    position: relative;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    --b: 4px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: red;
    
    padding: calc(0.5em + var(--s)) calc(0.5em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 30px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89 a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: "Reglisse", system-ui;
    
}
.button-89 a img{
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}

.button-89:hover,
.button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}

.button-89 .promo::after{
    content:"PROMOS";
    position: absolute;
    font-family: 'Reglisse-fill';
    color: red;
    font-size: 30px;
    margin-left: 60px;
    text-shadow: 2px 2px 2px black;
}

.button-89 .novidades::after{
    content:"NOVIDADES";
    position: absolute;
    font-family: 'Reglisse-fill';
    color: red;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

@font-face {
	font-family:'Reglisse';
	src: url('./fonts/ReglisseBack.otf') format('opentype');
}

@font-face {
font-family: 'Reglisse-fill';
    src: url('./fonts/ReglisseFill.otf') format('opentype');
}

}

/* .outubro-rosa {

.top{
    height: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    align-content: center;
}

.top img{
    width: 200px;
}

.bio{
    display: flex;
    flex-direction: column;
    width: 420px;
    max-height: 1080px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.btns{
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: "Bebas Neue", sans-serif;
    /* font-family: "Whisper", cursive; */
    /* font-family: "Yatra One", system-ui;
    font-weight: 500;
    font-size: 40px;
    color: aliceblue;
    text-shadow: 2px 2px black;

}
.whatsapp-logo{
    width:30px
}

.lines{
    display: flex;
    justify-content: center;
    align-items: center;
    size: 100vw;
}

.bubbly-button {
    width: 270px;
    height: 55px;
    margin: 20px;
    margin-left: 10px;
    border-radius: 10px;
    /* font-family: "Bebas Neue", sans-serif; */
    /* font-family: "Whisper", cursive; */
    /* font-family: "Yatra One", system-ui; 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-shadow: 2px 2px black;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-image: linear-gradient(to bottom, MediumOrchid, Magenta);
    border: 2px solid black;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 5px 15px #800080;
    justify-content: center;
    align-items: center;
    line-height: 18px;
}

.bubbly-button a{
    z-index: 2;
}

.fa-map-marker-alt{
    margin-left: 10px;
    font-size: 25px;
    color: aliceblue;
    padding: 10px;
}

.fa-map-marker-alt:hover{
    scale: 1.4;
}

.bubbly-button:focus {
    outline: 0;
}

.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: 0;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, goldenrod 20%, transparent 20%), radial-gradient(circle, transparent 20%, goldenrod 20%, transparent 30%), radial-gradient(circle, goldenrod 20%, transparent 20%), radial-gradient(circle, goldenrod 20%, transparent 20%), radial-gradient(circle, transparent 10%, goldenrod 15%, transparent 20%), radial-gradient(circle, goldenrod 20%, transparent 20%), radial-gradient(circle, goldenrod 20%, transparent 20%), radial-gradient(circle, goldenrod 20%, transparent 20%), radial-gradient(circle, goldenrod 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, goldenrod 20%, transparent 20%), radial-gradient(circle, goldenrod 20%, transparent 20%), radial-gradient(circle, transparent 10%, goldenrod 15%, transparent 20%), radial-gradient(circle, goldenrod 20%, transparent 20%), radial-gradient(circle, goldenrod 20%, transparent 20%), radial-gradient(circle, goldenrod 20%, transparent 20%), radial-gradient(circle, goldenrod 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
    transform: scale(0.9);
    background-color: #800080;
    box-shadow: 0 2px 25px #800080;
}

.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.bottom{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.shine-button {
    text-decoration: none;
    position: relative;
    width: 330px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* font-family: "Bungee Shade", sans-serif; 
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-size: 46px;
    color: FFFFFF;
    text-shadow: 2px 2px black;
    background-image: linear-gradient(to bottom, MediumOrchid, Magenta);
    border: 2px solid black;
    cursor: pointer;
}

.shine-button::before, .shine-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: linear-gradient(
        45deg,
        #080808,  
        #282828,
        #404040,
        #707070,
        #909090,
        #A8A8A8,
        #C0C0C0,
        #D8D8D8,
        #E8E8E8,
        #080808
      );
    background-size: 300%;
    background-position: 100%;
    border-radius: 10px;
    animation: AnimarBorda 8s linear alternate infinite;
}

.shine-button:active {
    color: goldenrod;
  }
  
.shine-button:active:after {
background: #FFFFFF;

}

.shine-button:hover:before {
opacity: 1;
}

@keyframes AnimarBorda{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 300%;
    }
}

.shine-button::after{
    filter:blur(10px)
}
.visibility{
    visibility: visible;
}
} */