/* @media (max-width: 320px){

h1{
    font-size: 25px;
    margin: 4px;
}

.frase{
    font-size: 12px;
    margin-bottom: 35px;
}

.logo{
    margin-bottom: 5px;
}

.button-54 {

    font-size: 12px;
}

.button-55 {
    font-size: 36px;
}
}

@media (min-width: 321px) and (max-width: 340px){ 

    h1{
        font-size: 25px;
        margin: 4px;
    }
    
    .frase{
        font-size: 12px;
        margin-bottom: 35px;
    }
    
    .logo{
        margin-bottom: 5px;
    }
    
    .button-54 {
    
        font-size: 12px;
    }
    
    .button-55 {
        font-size: 36px;
    }
} */




/* display instagram Gessyka*/


@media (min-width: 360px) and (max-width: 375px){ 

    .header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .msg {
        display: flex;
        justify-self: center;
        align-self: center;
        color: red;
        margin: 4px;
        font-family: "Parisienne", cursive;
        font-weight: 500;
        text-shadow: none;
        font-size: 30px;
    }

    h1{
        margin: 6px;
        color: goldenrod;
        font-size: 30px;
    }
        
    .logo{
        margin-bottom: 5px;
    }
    

    .links{
        justify-content: right;
        padding: 0px 0px 0px 160px;
    }

    .links:first-child{
    margin-top: 25px;
    }

    .links .button-57 {
        margin: 3px;
        font-size: 12px;
        color: aliceblue;
    }

    .links:last-child{
        padding: 60px;
        justify-content: center;
        margin-top: 20px;
        }

    .button-89{
        font-size 26px;
    }
    .button-89 .promo::after{
        font-size: 26px;
    }

    .button-89 .novidades::after{
        font-size: 26px;
    }
    
}

/* display isntagram Penha*/

/* @media (min-width: 376px) and (max-width: 425px){


    body,
    html,
    #app{
        height: 1024px;
    }

    .frase{
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .logo{
        margin-bottom: 5px;
    }
    
    h1{
        margin: 4px;
    }

    .links{
        padding-left: 45px;
        padding-right: 45px;
    }
    
    .links:last-child{
        padding-left: 55px;
        padding-right: 55px;
    }

} 

@media (min-width: 426px) and (max-width: 768px){
    body,
    html,
    #app{
        width: 768px;
        height: 1024px;
}
}

@media (min-width: 769px) {
    
    body,
    html,
    #app{
        width: 768px;
        height: 1024px;
}

.outubro-rosa{
    background-repeat: no-repeat;
    background-size: contain;
}
main{
    max-width: 768px;
}

} */

@media (min-width: 376px) and (max-width: 425px){ 


    .header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .msg {
        display: flex;
        justify-self: center;
        align-self: center;
        color: red;
        margin: 4px;
        font-family: "Parisienne", cursive;
        font-weight: 500;
        text-shadow: none;
        font-size: 34px;
    }

    h1{
        margin: 6px;
        color: goldenrod;
    }
        
    .logo{
        margin-bottom: 5px;
    }
    

    .links{
        justify-content: right;
        padding: 0px 0px 0px 200px;
    }

    .links:first-child{
    margin-top: 35px;
    }

    .links .button-57 {
        margin: 3px;
        font-size: 14px;
        color: aliceblue;
    }

    .links:last-child{
        padding: 60px;
        justify-content: center;
        margin-top: 40px;
        }

    /* promo */

    
    .links .button-89{
        /* trocar */
        font-family: "Reglisse", cursive;
        font-weight: 400;
        color: goldenrod;
    }

}